Repository remarkablemark/cypress-cucumber-steps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs(readme): add link to site in usage
  README.md
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@312ef74b4913c8d62173fbf4a07b31af4557982e 🚀
  assets/search.js
  functions/Then_I_see_text.html
  index.html
  modules.html
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@6bf5567e7612e82416cf5adea9752b9817a19f1a 🚀
  functions/Then_I_see_text.html
  functions/When_I_visit_URL.html
Due: none

refactor: move actions and assertions to their own directory
  src/actions/index.ts
  src/assertions/index.ts
Due: eslint --fix

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@4c78a6b4586e1590ab3799455167fcf0c3283388 🚀
  functions/Then_I_see_text.html
  functions/When_I_visit_URL.html
Due: none

refactor: modularize actions and assertions
  src/actions/index.ts
  src/actions/visit.ts
  src/assertions/index.ts
  src/assertions/text.ts
Due: eslint --fix

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@5d7b8997596a3b83fe674fdb8887dcb7a9e69daa 🚀
  functions/Then_I_see_text.html
  functions/When_I_visit_URL.html
Due: none

docs(readme): add prerequisites and update usage
  README.md
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@724dc00b7f6b9d633f2731ae2fb2aaf628a1d214 🚀
  assets/highlight.css
  functions/Then_I_see_text.html
  functions/When_I_visit_URL.html
  index.html
Due: prettier --write

docs(cypress): add e2e README.md
  cypress/e2e/README.md
Due: prettier --write

docs(cypress): fix e2e README.md link
  cypress/e2e/README.md
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@cc622bb6c2ee12501905297fe12bef0f3cc08120 🚀
  functions/Then_I_see_text.html
  functions/When_I_visit_URL.html
Due: none

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@8a7ba888b5bae989796f3816d2e956c3bfc17e72 🚀
  functions/Then_I_see_text.html
  functions/When_I_visit_URL.html
Due: none

docs(readme): update prerequisites
  README.md
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@9d0c3d2a7fce6206994f77ec02c72f1327d97e2b 🚀
  functions/Then_I_see_text.html
  functions/When_I_visit_URL.html
  index.html
Due: none

docs(readme): add cypress status badge
  README.md
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@0505197fd176830010f85a4a450068009320b3e6 🚀
  functions/Then_I_see_text.html
  functions/When_I_visit_URL.html
  index.html
Due: none

docs(actions): improve visit
  src/actions/visit.ts
Due: eslint --fix

feat(asserts): add "Then I do not see text"
  src/assertions/text.ts
Due: eslint --fix

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@3582eb7f476f98d78687c2eef962090262e913ba 🚀
  functions/Then_I_see_text.html
  functions/When_I_visit_URL.html
Due: none

feat(assertions): add "Then I see URL" and "Then I see URL contains"
  src/assertions/index.ts
  src/assertions/url.ts
Due: eslint --fix

chore(lintstagedrc): remove .feature since prettier cannot parse
  .lintstagedrc.json
Due: prettier --write

test(cypress): update example.feature
  cypress/e2e/example/example.feature
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@aef859540ebe7edd2c000c5db2911a3da2c91f09 🚀
  assets/search.js
  functions/Then_I_do_not_see_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/When_I_visit_URL.html
  index.html
  modules.html
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@a07115d9cdecc0e5c390d934155abe7ef942807a 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_visit_URL.html
Due: none

feat(actions): add "When I click on text"
  src/actions/click.ts
  src/actions/index.ts
Due: eslint --fix

feat(actions): add "When I reload the page"
  src/actions/index.ts
  src/actions/reload.ts
Due: eslint --fix

feat(actions): add "When I wait seconds" and "When I wait milliseconds"
  src/actions/index.ts
  src/actions/wait.ts
Due: eslint --fix

test(cypress): add cypress.feature
  cypress/e2e/cypress/cypress.feature
Due: prettier --write

docs(cypress): add cypress.feature to e2e README.md
  cypress/e2e/README.md
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@6bdf0207a934c950e398b653ccf6d5754867466b 🚀
  assets/search.js
  functions/Then_I_do_not_see_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click_on_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  index.html
  modules.html
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@5590a3fa37dc8603a3718854330a87c4df91bf58 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click_on_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
Due: none

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@60879825a5e1b32a0e3ce14df16cef459596798c 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click_on_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
Due: none

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@795ca2748a186999e868efc11b2e5c3dd1cde8ff 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click_on_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
Due: none

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@5ebf1aa696481775f8a239847348cafc6747c835 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click_on_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
Due: none

build(tsconfig): target es6 for test and es5 for build
  cypress/tsconfig.json
  package.json
  tsconfig.json
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@6974e616b8f65872b9102c2e46aa250044e2da7c 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click_on_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
Due: none

feat(utils): add helpers to get and set Cypress element
  src/index.ts
  src/utils/element.ts
  src/utils/index.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{css,feature,js,json,md,yml}
