Repository remarkablemark/cypress-cucumber-steps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.{css,feature,js,json,md,yml}": "prettier --write"
}

build(package): bump @types/node from 18.16.0 to 18.16.1
  package-lock.json
  package.json
Due: prettier --write

build(package): bump cypress from 12.10.0 to 12.11.0
  package-lock.json
  package.json
Due: prettier --write

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

build(nvmrc): upgrade Node.js version from 16 to 18
  .nvmrc
Due: none

feat: include files "src/" when package is published
  package.json
Due: prettier --write

feat(assertions): add "I do not see URL" and "I do not see URL contains"
  src/assertions/url.ts
Due: eslint --fix

test(cypress): assert do not see URL in example/example.feature
  cypress/e2e/example/example.feature
Due: prettier --write

chore: remove "I get element by label text" and "I get element by title"
  cypress/e2e/cypress/example.feature
  cypress/e2e/w3c/w3c.feature
  src/queries/label.ts
  src/queries/title.ts
Due: eslint --fix, prettier --write

docs(assertions): add see links for url
  src/assertions/url.ts
Due: eslint --fix

docs(actions): add remarks and see links to wait
  src/actions/wait.ts
Due: eslint --fix

refactor(utils): use JSON.parse to get DataTable options
  src/utils/options.ts
Due: eslint --fix

feat(actions): add When I intercept URL & When I intercept URL and stub body
  src/actions/index.ts
  src/actions/intercept.ts
Due: eslint --fix

test(cypress): intercept URL and stub body in cypress/example.feature
  cypress/e2e/cypress/example.feature
Due: prettier --write

build(typedoc): enable cacheBust
  typedoc.json
Due: prettier --write

test(cypress): harden test by adding timeout to cypress/docs.feature
  cypress/e2e/cypress/docs.feature
Due: prettier --write
