Repository remarkablemark/cypress-cucumber-steps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.{css,feature,js,json,md,yml}": "prettier --write"
}

fix(assertions): wait until text is found before heading assertion
  src/assertions/heading.ts
Due: eslint --fix

perf(assertions): improve get selector for heading
  src/assertions/heading.ts
Due: eslint --fix

test(cypress): harden e2e scenario in cypress/docs.feature
  cypress/e2e/cypress/docs.feature
Due: prettier --write

fix(assertions): correct heading selector in "Then I see heading"
  src/assertions/heading.ts
Due: eslint --fix

feat(queries): add "When I find element by label text"
  src/actions/click.ts
  src/assertions/label.ts
  src/queries/label.ts
  src/utils/label.ts
Due: eslint --fix

test(cypress): find element by label text in cypress/docs.feature
  cypress/e2e/cypress/docs.feature
Due: prettier --write

docs: replace deprecated step with "When I find element by label text"
  src/actions/type.ts
  src/queries/placeholder.ts
Due: eslint --fix

test(cypress): find element by title in cypress/example.feature
  cypress/e2e/cypress/example.feature
Due: prettier --write

feat(queries): add "When I find element by title"
  src/queries/title.ts
Due: eslint --fix

feat(actions): add "When I set Cypress config"
  src/actions/config.ts
  src/actions/index.ts
Due: eslint --fix

test(cypress): set config in cypress docs.feature & example.feature
  cypress/e2e/cypress/docs.feature
  cypress/e2e/cypress/example.feature
Due: prettier --write

test(cypress): increase retry attempts for `cypress run` from 0 to 3
  cypress.config.ts
Due: eslint --fix

fix(queries): find and return 1 visible alt text
  src/queries/alt.ts
Due: eslint --fix

fix(queries): find and return 1 visible placeholder text
  src/queries/placeholder.ts
Due: eslint --fix

fix(queries): find and return 1 visible test id
  src/queries/testid.ts
Due: eslint --fix

test(cypress): update and harden cypress/docs.feature
  cypress/e2e/cypress/docs.feature
Due: prettier --write

feat(actions): debug current Cypress element if applicable
  src/actions/debug.ts
Due: eslint --fix

feat(actions): add "When I clear local storage"
  src/actions/index.ts
  src/actions/local-storage.ts
Due: eslint --fix

test(cypress): clear local storage in example/example.feature
  cypress/e2e/example/example.feature
Due: prettier --write

build(scripts): fix docs search links for Cloudflare Pages
  scripts/docs.sh
Due: none

fix(queries): get first visible element by display value
  src/queries/value.ts
Due: eslint --fix
