Repository remarkablemark/cypress-cucumber-steps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

build(package): bump @types/node from 20.2.0 to 20.2.1
  package-lock.json
  package.json
Due: prettier --write

build(package): bump eslint from 8.40.0 to 8.41.0
  package-lock.json
  package.json
Due: prettier --write

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

test(cypress): add httpbin/form.feature
  cypress/e2e/httpbin/form.feature
Due: prettier --write

docs(cypress): document e2e httpbin/form.feature
  cypress/e2e/README.md
Due: prettier --write

test(cypress): replace w3c.feature with google.feature
  cypress/e2e/README.md
  cypress/e2e/google/google.feature
  cypress/e2e/google/google.ts
Due: eslint --fix, prettier --write

feat(actions): add "When I set environment variable"
  src/actions/env.ts
  src/actions/index.ts
Due: eslint --fix

test(cypress): set env var in cypress/example.feature
  cypress/e2e/cypress/example.feature
Due: prettier --write

feat(queries): add "When I get element by selector"
  src/queries/find.ts
  src/queries/get.ts
  src/queries/index.ts
Due: eslint --fix

test(cypress): get element by selector in example/example.feature
  cypress/e2e/example/example.feature
Due: prettier --write

feat(actions): add "When I select file"
  src/actions/index.ts
  src/actions/select-file.ts
Due: eslint --fix

test(cypress): select file in dropzone/dropzone.feature
  cypress/e2e/dropzone/dropzone.feature
Due: prettier --write

feat(actions): pass options to "When I visit URL"
  src/actions/visit.ts
Due: eslint --fix

test(cypress): set failOnStatusCode to false in google.feature
  cypress/e2e/google/google.feature
Due: prettier --write

ci(github): add actions/setup-node to workflow cypress.yml
  .github/workflows/build.yml
  .github/workflows/cypress.yml
Due: prettier --write

feat(actions): add "When I make a request"
  src/actions/index.ts
  src/actions/request.ts
Due: eslint --fix

test(cypress): add e2e httpbin get.feature and post.feature
  cypress/e2e/httpbin/get.feature
  cypress/e2e/httpbin/post.feature
Due: prettier --write

feat(assertions): add attribute steps and mark steps for deprecation
  src/assertions/attribute.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{css,feature,js,json,md,yml}
