Repository remarkablemark/cypress-cucumber-steps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: add missing argument types
  src/actions/value.ts
  src/assertions/attribute.ts
  src/queries/value.ts
Due: eslint --fix

docs(actions): improve blur TypeDoc
  src/actions/blur.ts
Due: eslint --fix

docs(assertions): add missing @remarks in value TypeDoc
  src/assertions/value.ts
Due: eslint --fix

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

chore(cypress): tidy cypress.config.ts
  cypress.config.ts
Due: eslint --fix

chore(package): add script "test"
  package.json
Due: prettier --write

docs(typedoc): fix Google tag
  typedoc.json
Due: prettier --write

chore(tsconfig): remove "forceConsistentCasingInFileNames"
  tsconfig.json
Due: prettier --write

feat(assertions): pass options to "I see URL" and "I do not see URL"
  src/assertions/url.ts
Due: eslint --fix

test(cypress): update e2e cypress docs.feature and example.feature
  cypress/e2e/cypress/docs.feature
  cypress/e2e/cypress/example.feature
Due: prettier --write

docs(assertions): document options in url.ts
  src/assertions/url.ts
Due: eslint --fix

chore(husky): tidy commit-msg and pre-commit
  .husky/commit-msg
  .husky/pre-commit
Due: none

build(nvmrc): bump Node.js version from 18 to 20
  .nvmrc
Due: none

feat(assertions): add "Then I see option" and "Then I do not see option"
  src/assertions/index.ts
  src/assertions/option.ts
Due: eslint --fix

test(cypress): see and do not see option in cypress/example.feature
  cypress/e2e/cypress/example.feature
Due: prettier --write

feat(assertions): pass options to "Then I see document title"
  src/assertions/document-title.ts
Due: eslint --fix

feat(assertions): pass options to "Then I see document title contains"
  src/assertions/document-title.ts
Due: eslint --fix

test(cypress): pass options to document title in example/example.feature
  cypress/e2e/example/example.feature
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{css,feature,js,json,md,yml}
