Repository remarkablemark/cypress-cucumber-steps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.{css,feature,js,json,md,yml}": "prettier --write"
}

test(cypress): verify placeholder text step in cypress.feature
  cypress/e2e/cypress/cypress.feature
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@8eabf493ae3e4dbeb7f3ab958042f510882ffe10 🚀
  404.html
  assets/search.js
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  index.html
  interfaces/MochaContext.html
  modules.html
  types/CypressChainableElement.html
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@0af8a3407e861dde23fed61a66235b0e912493e1 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

refactor(queries): rename placeholder-text to placeholder
  src/queries/index.ts
  src/queries/placeholder.ts
Due: eslint --fix

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@94da421a9e71ed01c61bea23bef23f02e12441e9 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

feat(queries): add "When I find element by alt text"
  src/queries/alt.ts
  src/queries/index.ts
Due: eslint --fix

test(cypress): add alt text scenario to cypress.feature
  cypress/e2e/cypress/cypress.feature
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@2e51d27f3487865ba78998e35420c91ccbe14d1f 🚀
  404.html
  assets/search.js
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  index.html
  interfaces/MochaContext.html
  modules.html
  types/CypressChainableElement.html
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@9a38f5c5a4a5d67bff9be2b396f1045df42e04a4 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

refactor(queries): improve error message in label
  src/queries/label.ts
Due: eslint --fix

feat(queries): add "When I get element by title"
  src/queries/index.ts
  src/queries/title.ts
Due: eslint --fix

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@adb5c3f60d31e4b5b84ae39c7282c4cf95372154 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

test(cypress): add w3c.feature
  cypress/e2e/w3c/w3c.feature
Due: prettier --write

docs(queries): improve grammar in title typedoc
  src/queries/title.ts
Due: eslint --fix

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@b672602b2c099ed8d4deb7346c782f7511ad8693 🚀
  404.html
  assets/search.js
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  index.html
  interfaces/MochaContext.html
  modules.html
  types/CypressChainableElement.html
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@002377191e9a95744db1ba36813b58e3218d870b 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

feat(queries): add "When I find element by testid"
  src/queries/index.ts
  src/queries/testid.ts
Due: eslint --fix

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@49a9c48cd4430c3955079e5f9c29f2229cf4b3f1 🚀
  404.html
  assets/highlight.css
  assets/search.js
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/setCypressElement.html
  index.html
  interfaces/MochaContext.html
  modules.html
  types/CypressChainableElement.html
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@e0216734d7dddf24a808910184ffb171318fc011 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

feat(actions): add "When I double click" & "When I double click on text"
  src/actions/click.ts
Due: eslint --fix

test(cypress): test for double-click in cypress.feature
  cypress/e2e/cypress/cypress.feature
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@6a6623e7325abfc268f175777d2e677187ddb636 🚀
  404.html
  assets/search.js
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_double_click.html
  functions/When_I_double_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  index.html
  interfaces/MochaContext.html
  modules.html
  types/CypressChainableElement.html
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@14541fdbb07344098225b3b383f58c7a34db7930 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_double_click.html
  functions/When_I_double_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

feat(actions): add "When I right click" & "When I right click on text"
  src/actions/click.ts
Due: eslint --fix

test(cypress): test right-click in cypress.feature
  cypress/e2e/cypress/cypress.feature
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@08812332e490dda2c99e9009f9cd8c29b9b8dca0 🚀
  404.html
  assets/search.js
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_double_click.html
  functions/When_I_double_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_reload_the_page.html
  functions/When_I_right_click.html
  functions/When_I_right_click_on_text.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  index.html
  interfaces/MochaContext.html
  modules.html
  types/CypressChainableElement.html
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@aeac2aeee9c137ad11db72b99cd42773e9b1058d 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_double_click.html
  functions/When_I_double_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_reload_the_page.html
  functions/When_I_right_click.html
  functions/When_I_right_click_on_text.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

feat(actions): add "When I clear"
  src/actions/type.ts
Due: eslint --fix

test(cypress): test "When I clear" in cypress.feature
  cypress/e2e/cypress/cypress.feature
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@06432d9c00ded77e040017182f725e880608639a 🚀
  404.html
  assets/search.js
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_clear.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_double_click.html
  functions/When_I_double_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_right_click.html
  functions/When_I_right_click_on_text.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  index.html
  interfaces/MochaContext.html
  modules.html
  types/CypressChainableElement.html
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@1d54ba7beca9d401f6eb88e9a4ea7895daaa2790 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_clear.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_double_click.html
  functions/When_I_double_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_reload_the_page.html
  functions/When_I_right_click.html
  functions/When_I_right_click_on_text.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

test(cypress): test checkbox and radio in cypress.feature
  cypress/e2e/cypress/cypress.feature
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@002984ec44e1aedd885e2bce0989eac77f784ebe 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_clear.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_double_click.html
  functions/When_I_double_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_reload_the_page.html
  functions/When_I_right_click.html
  functions/When_I_right_click_on_text.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

feat(actions): add "When I select option"
  src/actions/index.ts
  src/actions/select.ts
Due: eslint --fix

test(cypress): test select option in cypress.feature
  cypress/e2e/cypress/cypress.feature
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@f15614682b37e4d3201417d8176d9640487374e5 🚀
  404.html
  assets/search.js
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_clear.html
  functions/When_I_click_on_text.html
  functions/When_I_double_click.html
  functions/When_I_double_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_reload_the_page.html
  functions/When_I_right_click.html
  functions/When_I_right_click_on_text.html
  functions/When_I_select_option.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  index.html
  interfaces/MochaContext.html
  modules.html
  types/CypressChainableElement.html
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@f8773ed51dd9820c8e0b27cc319865cecb8c04cf 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_clear.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_double_click.html
  functions/When_I_double_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_reload_the_page.html
  functions/When_I_right_click.html
  functions/When_I_right_click_on_text.html
  functions/When_I_select_option.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

feat(actions): add "When I blur"
  src/actions/blur.ts
  src/actions/index.ts
Due: eslint --fix

test(cypress): test "When I blur" in cypress.feature
  cypress/e2e/cypress/cypress.feature
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@313778d3d4d60440a80ff28f61f80efa4e53f568 🚀
  404.html
  assets/search.js
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_text.html
  functions/When_I_blur.html
  functions/When_I_clear.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_double_click.html
  functions/When_I_double_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_reload_the_page.html
  functions/When_I_right_click.html
  functions/When_I_right_click_on_text.html
  functions/When_I_select_option.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  index.html
  interfaces/MochaContext.html
  modules.html
  types/CypressChainableElement.html
Due: prettier --write
