Repository remarkablemark/cypress-cucumber-steps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.{css,feature,js,json,md,yml}": "prettier --write"
}

docs(assertions): add see link to response JSDoc
  src/assertions/response.ts
Due: eslint --fix

docs(assertions): improve JSDoc code block in response
  src/assertions/response.ts
Due: eslint --fix

ci(github): tidy workflow cypress.yml
  .github/workflows/cypress.yml
Due: prettier --write

test(cypress): replace example.feature with something.feature
  cypress/e2e/cypress/example/example.feature
  cypress/e2e/example/example.feature
  cypress/e2e/something/something.feature
Due: prettier --write

test(cypress): replace something.feature with remarkablemark.feature
  cypress/e2e/cypress/example/example.feature
  cypress/e2e/remarkablemark/remarkablemark.feature
  cypress/e2e/something/something.feature
Due: prettier --write

build(package-lock): fix 1 low severity vulnerability
  package-lock.json
Due: prettier --write

test(cypress): wait before document title assertion in example.feature
  cypress/e2e/cypress/example/example.feature
Due: prettier --write

test(cypress): set timeout for document title in example.feature
  cypress/e2e/cypress/example/example.feature
Due: prettier --write

test(cypress): set timeout for see document title in example.feature
  cypress/e2e/cypress/example/example.feature
Due: prettier --write

test(cypress): fix eviltester features
  cypress/e2e/eviltester/alert.feature
  cypress/e2e/eviltester/checkbox.feature
  cypress/e2e/eviltester/confirm.feature
Due: prettier --write

build(nvmrc): bump Node.js version from 20 to 22
  .nvmrc
Due: none

build(nvmrc): bump Node.js version from 22 to 24
  .nvmrc
Due: none

build(package): update package-lock.json
  package-lock.json
Due: prettier --write

ci(github): set permissions in workflows
  .github/workflows/build.yml
  .github/workflows/cypress.yml
  .github/workflows/release-please.yml
Due: prettier --write

build(package): bump typedoc from 0.28.14 to 0.28.15
  package-lock.json
  package.json
Due: prettier --write

build(package-lock): update package-lock.json
  package-lock.json
Due: prettier --write

refactor: update and fix eslint and tsconfig
  .github/dependabot.yml
  cypress.config.ts
  eslint.config.mjs
  package-lock.json
  package.json
  src/actions/debug.ts
  src/actions/env.ts
  src/actions/intercept.ts
  src/assertions/url.ts
  src/queries/value.ts
  src/utils/element.ts
  src/utils/label.ts
  src/utils/options.ts
  tsconfig.build.json
  tsconfig.json
  tsconfig.test.json
Due: eslint --fix, prettier --write

docs(typedoc): fix watch mode and set tsconfig in typedoc.json
  typedoc.json
Due: prettier --write

docs(actions): add `@deprecated` to "When I set environment variable"
  src/actions/env.ts
Due: eslint --fix

ci(github): set up trusted publishing for npm in release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

chore: update .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

ci(github): install with ignore scripts in release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

test(e2e): replace remarkablemark tests with demoqa, eviltester, and the-internet
  cypress/e2e/README.md
  cypress/e2e/demoqa/textarea.feature
  cypress/e2e/eviltester/alert.feature
  cypress/e2e/eviltester/form.feature
  cypress/e2e/remarkablemark/textarea.feature
  cypress/e2e/the-internet/the-internet.feature
Due: prettier --write

test(e2e): skip hanging alert prompt scenario
  cypress/e2e/eviltester/alert.feature
Due: prettier --write

chore(eslint): replace deprecated includeIgnoreFile
  eslint.config.mjs
Due: none

build(package): remove unused @eslint/compat
  package-lock.json
  package.json
Due: prettier --write

ci(github): tidy group eslint in dependabot.yml
  .github/dependabot.yml
Due: prettier --write

chore(tsconfig): add NodeNext module resolution to fix import.meta type errors
  cypress.config.ts
  eslint.config.mts
  tsconfig.test.json
Due: eslint --fix, prettier --write

chore(actions): fix lint in scroll-to.ts
  src/actions/scroll-to.ts
Due: eslint --fix

build(tsconfig): change output target from es5 to es6
  package.json
  tsconfig.build.json
  tsconfig.test.json
Due: prettier --write

build(package): remove unused @eslint/eslintrc devDependency
  package-lock.json
  package.json
Due: prettier --write

docs(utils): remove broken JSDoc link in element.ts
  src/utils/element.ts
Due: eslint --fix
