Repository remarkablemark/cypress-cucumber-steps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs(github): update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

test(cypress): assert attribute is equal to in example/example.feature
  cypress/e2e/example/example.feature
Due: prettier --write

chore: add test cypress screenshots to .gitignore
  .gitignore
Due: none

test(cypress): assert element has attribute in example/example.feature
  cypress/e2e/example/example.feature
Due: prettier --write

feat(assertions): add "Then I see element has attribute containing"
  src/assertions/attribute.ts
Due: eslint --fix

feat(assertions): add "Then I see element has attribute equal to"
  src/assertions/attribute.ts
Due: eslint --fix

feat(assertions): add "Then I see element has attribute"
  src/assertions/attribute.ts
  src/assertions/index.ts
Due: eslint --fix

test(cypress): assert attribute containing in example/example.feature
  cypress/e2e/example/example.feature
Due: prettier --write

build(package): bump eslint from 8.35.0 to 8.36.0
  package-lock.json
  package.json
Due: prettier --write

chore(utils): improve error message in element's getCypressElement
  src/utils/element.ts
Due: eslint --fix

docs(actions): tidy TypeDoc remarks
  src/actions/click.ts
  src/actions/double-click.ts
  src/actions/right-click.ts
  src/actions/scroll.ts
  src/actions/trigger.ts
  src/actions/type.ts
  src/actions/value.ts
Due: eslint --fix

docs(actions): tidy TypeDoc remarks
  src/assertions/visible.ts
Due: eslint --fix

feat(actions): add "When I focus"
  src/actions/focus.ts
  src/actions/index.ts
Due: eslint --fix

test(cypress): focus on element in e2e cypress/example.feature
  cypress/e2e/cypress/example.feature
Due: prettier --write

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

feat(assertions): add "Then I count elements length"
  src/assertions/index.ts
  src/assertions/length.ts
Due: eslint --fix

test(cypress): count elements length in cypress/example.feature
  cypress/e2e/cypress/example.feature
Due: prettier --write

chore(gitignore): ignore cypress artifacts
  .gitignore
Due: none

chore(package): update `clean` script to remove cypress artifacts
  package.json
Due: prettier --write

feat(queries): add "When I find form"
  src/queries/form.ts
  src/queries/index.ts
Due: eslint --fix

feat(actions): add "When I submit"
  src/actions/index.ts
  src/actions/submit.ts
Due: eslint --fix

test(cypress): find and submit form in cypress/example.feature
  cypress/e2e/cypress/example.feature
Due: prettier --write

feat(queries): add "When I find closest element"
  src/queries/closest.ts
  src/queries/index.ts
Due: eslint --fix

test(cypress): find closest element in cypress/example.feature
  cypress/e2e/cypress/example.feature
Due: prettier --write

docs(queries): use https url in closest TypeDoc
  src/queries/closest.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{css,feature,js,json,md,yml}
