Repository remarkablemark/cypress-cucumber-steps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@0cd51fe20144310dc4a18b3b13b7cc547e7be2ed 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_blur.html
  functions/When_I_clear.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_double_click.html
  functions/When_I_double_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_reload_the_page.html
  functions/When_I_right_click.html
  functions/When_I_right_click_on_text.html
  functions/When_I_select_option.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

feat(actions): add "When I go", "When I go back", "When I go forward"
  src/actions/go.ts
  src/actions/index.ts
Due: eslint --fix

test(cypress): test "When I go" steps in cypress/docs.feature
  cypress/e2e/cypress/cypress.feature
  cypress/e2e/cypress/docs.feature
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@dee5ea00e90dddec67e343763494b6e4db64e92f 🚀
  404.html
  assets/search.js
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_blur.html
  functions/When_I_clear.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_double_click.html
  functions/When_I_double_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_go.html
  functions/When_I_go_back.html
  functions/When_I_go_forward.html
  functions/When_I_reload_the_page.html
  functions/When_I_right_click_on_text.html
  functions/When_I_select_option.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  index.html
  interfaces/MochaContext.html
  modules.html
  types/CypressChainableElement.html
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@987f0980735a3258d0316c35cfd3d4ddcac97a63 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_blur.html
  functions/When_I_clear.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_double_click.html
  functions/When_I_double_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_go.html
  functions/When_I_go_back.html
  functions/When_I_go_forward.html
  functions/When_I_reload_the_page.html
  functions/When_I_right_click.html
  functions/When_I_right_click_on_text.html
  functions/When_I_select_option.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

docs(readme): update prerequisites
  README.md
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@ec692cb896ca806f5c93a456cdd9b6e5093b09c0 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_blur.html
  functions/When_I_clear.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_double_click.html
  functions/When_I_double_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_go.html
  functions/When_I_go_back.html
  functions/When_I_go_forward.html
  functions/When_I_reload_the_page.html
  functions/When_I_right_click.html
  functions/When_I_right_click_on_text.html
  functions/When_I_select_option.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  index.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

feat(actions): add "When I click on button" & "When I click on link"
  src/actions/click.ts
Due: eslint --fix

test(cypress): test when I click on button and link steps
  cypress/e2e/cypress/docs.feature
  cypress/e2e/cypress/example.feature
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@090ad788f9958957640755deef7748c558a852ca 🚀
  404.html
  assets/search.js
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_blur.html
  functions/When_I_clear.html
  functions/When_I_click.html
  functions/When_I_click_on_button.html
  functions/When_I_click_on_link.html
  functions/When_I_click_on_text.html
  functions/When_I_double_click.html
  functions/When_I_double_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_go.html
  functions/When_I_go_back.html
  functions/When_I_go_forward.html
  functions/When_I_reload_the_page.html
  functions/When_I_right_click.html
  functions/When_I_right_click_on_text.html
  functions/When_I_select_option.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  index.html
  interfaces/MochaContext.html
  modules.html
  types/CypressChainableElement.html
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@cd4916f0f7ba851c1f6e28688f394a6438100da3 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_blur.html
  functions/When_I_clear.html
  functions/When_I_click.html
  functions/When_I_click_on_button.html
  functions/When_I_click_on_link.html
  functions/When_I_click_on_text.html
  functions/When_I_double_click.html
  functions/When_I_double_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_go.html
  functions/When_I_go_back.html
  functions/When_I_go_forward.html
  functions/When_I_reload_the_page.html
  functions/When_I_right_click.html
  functions/When_I_right_click_on_text.html
  functions/When_I_select_option.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

docs(readme): replace docs link with bitly
  README.md
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@83ae63af15973f274b74f5528cfbb06135c802a4 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_blur.html
  functions/When_I_clear.html
  functions/When_I_click.html
  functions/When_I_click_on_button.html
  functions/When_I_click_on_link.html
  functions/When_I_click_on_text.html
  functions/When_I_double_click.html
  functions/When_I_double_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_go.html
  functions/When_I_go_back.html
  functions/When_I_go_forward.html
  functions/When_I_reload_the_page.html
  functions/When_I_right_click.html
  functions/When_I_right_click_on_text.html
  functions/When_I_select_option.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  index.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

feat(actions): add "When I pause"
  src/actions/index.ts
  src/actions/pause.ts
Due: eslint --fix

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@c8e1c2be9168949ea040712af636a4968d9a70c0 🚀
  404.html
  assets/search.js
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_blur.html
  functions/When_I_clear.html
  functions/When_I_click.html
  functions/When_I_click_on_link.html
  functions/When_I_click_on_text.html
  functions/When_I_double_click.html
  functions/When_I_double_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_go.html
  functions/When_I_go_back.html
  functions/When_I_go_forward.html
  functions/When_I_pause.html
  functions/When_I_reload_the_page.html
  functions/When_I_right_click.html
  functions/When_I_right_click_on_text.html
  functions/When_I_select_option.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  index.html
  interfaces/MochaContext.html
  modules.html
  types/CypressChainableElement.html
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@c2d08d989c4d42616976b63bc21a7136cae576d4 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_blur.html
  functions/When_I_clear.html
  functions/When_I_click.html
  functions/When_I_click_on_button.html
  functions/When_I_click_on_link.html
  functions/When_I_click_on_text.html
  functions/When_I_double_click.html
  functions/When_I_double_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_go.html
  functions/When_I_go_back.html
  functions/When_I_go_forward.html
  functions/When_I_pause.html
  functions/When_I_reload_the_page.html
  functions/When_I_right_click.html
  functions/When_I_right_click_on_text.html
  functions/When_I_select_option.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

feat(actions): add "When I debug"
  src/actions/debug.ts
  src/actions/index.ts
  src/actions/pause.ts
Due: eslint --fix

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@84fa3614224ce4e9b5e5ba52bc0bb6dc3ed75da6 🚀
  404.html
  assets/search.js
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_blur.html
  functions/When_I_clear.html
  functions/When_I_click.html
  functions/When_I_click_on_button.html
  functions/When_I_click_on_link.html
  functions/When_I_click_on_text.html
  functions/When_I_debug.html
  functions/When_I_double_click.html
  functions/When_I_double_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_go.html
  functions/When_I_go_back.html
  functions/When_I_go_forward.html
  functions/When_I_pause.html
  functions/When_I_reload_the_page.html
  functions/When_I_right_click.html
  functions/When_I_right_click_on_text.html
  functions/When_I_select_option.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  index.html
  interfaces/MochaContext.html
  modules.html
  types/CypressChainableElement.html
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@467a4b84edf4e5c0edd813c8b871ff797c02d49e 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_blur.html
  functions/When_I_clear.html
  functions/When_I_click.html
  functions/When_I_click_on_button.html
  functions/When_I_click_on_link.html
  functions/When_I_click_on_text.html
  functions/When_I_debug.html
  functions/When_I_double_click.html
  functions/When_I_double_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_go.html
  functions/When_I_go_back.html
  functions/When_I_go_forward.html
  functions/When_I_pause.html
  functions/When_I_reload_the_page.html
  functions/When_I_right_click.html
  functions/When_I_right_click_on_text.html
  functions/When_I_select_option.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

feat(utils): create private helper camelCase
  src/utils/index.ts
  src/utils/string.ts
Due: eslint --fix

docs(actions): fix grammar for pause
  src/actions/pause.ts
Due: eslint --fix

feat(actions): add "When I scroll window to"
  src/actions/index.ts
  src/actions/scroll.ts
Due: eslint --fix

test(cypress): test scroll in cypress/example.feature
  cypress/e2e/cypress/example.feature
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@10997c178dfbd97eaa8239e8c7ad9a7b58db7fed 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_blur.html
  functions/When_I_clear.html
  functions/When_I_click.html
  functions/When_I_click_on_button.html
  functions/When_I_click_on_link.html
  functions/When_I_click_on_text.html
  functions/When_I_debug.html
  functions/When_I_double_click.html
  functions/When_I_double_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_go.html
  functions/When_I_go_back.html
  functions/When_I_go_forward.html
  functions/When_I_pause.html
  functions/When_I_reload_the_page.html
  functions/When_I_right_click.html
  functions/When_I_right_click_on_text.html
  functions/When_I_scroll_window_to_position.html
  functions/When_I_scroll_window_to_x_y_coordinates.html
  functions/When_I_select_option.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/camelCase.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

feat(actions): add "When I screenshot"
  src/actions/index.ts
  src/actions/screenshot.ts
Due: eslint --fix

test(cypress): test screenshot in example/example.feature
  cypress/e2e/example/example.feature
Due: prettier --write

chore(package): update clean script to remove cypress screenshots
  package.json
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@664010241847918e6922af6b5a45041fcc4c9acf 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_blur.html
  functions/When_I_clear.html
  functions/When_I_click.html
  functions/When_I_click_on_button.html
  functions/When_I_click_on_link.html
  functions/When_I_click_on_text.html
  functions/When_I_debug.html
  functions/When_I_double_click.html
  functions/When_I_double_click_on_text.html
  functions/When_I_find_element_by_alt_text.html
  functions/When_I_find_element_by_placeholder_text.html
  functions/When_I_find_element_by_testid.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_get_element_by_title.html
  functions/When_I_go.html
  functions/When_I_go_back.html
  functions/When_I_go_forward.html
  functions/When_I_pause.html
  functions/When_I_reload_the_page.html
  functions/When_I_right_click.html
  functions/When_I_right_click_on_text.html
  functions/When_I_screenshot.html
  functions/When_I_scroll_window_to_position.html
  functions/When_I_scroll_window_to_x_y_coordinates.html
  functions/When_I_select_option.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/camelCase.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

feat(actions): add "When I set cookie"
  src/actions/cookie.ts
  src/actions/index.ts
Due: eslint --fix

test(cypress): test set cookie in example/example.feature
  cypress/e2e/example/example.feature
Due: prettier --write

docs(actions): improve cookie example
  src/actions/cookie.ts
Due: eslint --fix

feat(actions): add "When I log"
  src/actions/index.ts
  src/actions/log.ts
Due: eslint --fix

test(cypress): test log in example/example.feature
  cypress/e2e/example/example.feature
Due: prettier --write

feat(actions): update step for "When I scroll" x-y coordinates
  cypress/e2e/cypress/example.feature
  src/actions/scroll.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{css,feature,js,json,md,yml}
