Repository remarkablemark/cypress-cucumber-steps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(assertions): add "Then I see test ID" & "Then I do not see test ID"
  src/assertions/index.ts
  src/assertions/testid.ts
Due: eslint --fix

test(cypress): see and do not see test ID in cypress/example.feature
  cypress/e2e/cypress/example.feature
Due: prettier --write

chore: fix eslint errors
  src/actions/debug.ts
  src/actions/intercept.ts
  src/assertions/local-storage.ts
  src/assertions/session-storage.ts
  src/utils/options.ts
Due: eslint --fix

build(package): fix 1 moderate severity vulnerability
  package-lock.json
Due: prettier --write

chore(eslint): migrate to eslint 9
  .eslintrc.json
  .github/dependabot.yml
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write

chore(husky): don't make hooks executable
  .husky/commit-msg
  .husky/pre-commit
Due: none

ci(github): publish package to npm registry with provenance
  .github/workflows/release-please.yml
Due: prettier --write

ci(github): use gitploy-action in build.yml
  .github/workflows/build.yml
Due: prettier --write

ci(github): update eslint group in dependabot.yml
  .github/dependabot.yml
Due: prettier --write

test(cypress): add eviltester alert.feature and confirm.feature
  cypress/e2e/eviltester/alert.feature
  cypress/e2e/eviltester/confirm.feature
Due: prettier --write

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

feat: pass options to label assertions and queries
  src/actions/check.ts
  src/assertions/label.ts
  src/constants/index.ts
  src/queries/input.ts
  src/queries/label.ts
  src/queries/textarea.ts
  src/utils/label.ts
Due: eslint --fix

test(cypress): add eviltester checkbox.feature
  cypress/e2e/eviltester/checkbox.feature
Due: prettier --write

docs(actions): add links to check and uncheck
  src/actions/check.ts
  src/actions/uncheck.ts
Due: eslint --fix

refactor(assertions): replace util with step query in label
  src/assertions/label.ts
Due: eslint --fix

refactor(actions): reuse step and update docs in click
  src/actions/click.ts
Due: eslint --fix

build(typedoc): remove deprecated package and fix build errors
  package-lock.json
  package.json
  typedoc.json
Due: prettier --write

ci(github): shard specs in workflow cypress.yml
  .github/workflows/cypress.yml
Due: prettier --write

build(package): bump typescript from 5.6.3 to 5.7.2
  package-lock.json
  package.json
Due: prettier --write

refactor(utils): tidy testid
  src/utils/testid.ts
Due: eslint --fix

feat(queries): add "When I find elements by title"
  src/queries/title.ts
Due: eslint --fix

test(cypress): find elements by title in google.feature
  cypress/e2e/google/google.feature
Due: prettier --write

ci(github): remove check-success cypress in mergify.yml
  .github/mergify.yml
Due: prettier --write

feat(actions): add "When I click on title"
  src/actions/click.ts
Due: eslint --fix

docs(actions): improve click
  src/actions/click.ts
Due: eslint --fix

test(cypress): click on title in cypress/example.feature
  cypress/e2e/cypress/example.feature
Due: prettier --write

test(cypress): modularize cypress features
  cypress/e2e/cypress/example/commands/actions.feature
  cypress/e2e/cypress/example/commands/aliasing.feature
  cypress/e2e/cypress/example/commands/cookies.feature
  cypress/e2e/cypress/example/commands/misc.feature
  cypress/e2e/cypress/example/commands/network-requests.feature
  cypress/e2e/cypress/example/commands/querying.feature
  cypress/e2e/cypress/example/commands/spies-stubs-clocks.feature
  cypress/e2e/cypress/example/commands/storage.feature
  cypress/e2e/cypress/example/commands/traversal.feature
  cypress/e2e/cypress/example/cypress-api.feature
  cypress/e2e/cypress/example/example.feature
Due: prettier --write

test(cypress): remove redundant tests in actions.feature
  cypress/e2e/cypress/example/commands/actions.feature
  cypress/e2e/google/google.feature
Due: prettier --write

build(package): correct repository url error
  package.json
Due: prettier --write

ci(github): use `remarkablemark/find-and-split` in cypress.yml
  .github/workflows/cypress.yml
Due: prettier --write

test(cypress): modularize cypress/example/commands/actions.feature
  cypress/e2e/cypress/example/commands/actions.feature
  cypress/e2e/cypress/example/commands/actions/click.feature
  cypress/e2e/cypress/example/commands/actions/form.feature
  cypress/e2e/cypress/example/commands/actions/input.feature
  cypress/e2e/cypress/example/commands/actions/scroll.feature
  cypress/e2e/cypress/example/commands/actions/select.feature
Due: prettier --write

test(cypress): update links in cypress/docs.feature
  cypress/e2e/cypress/docs.feature
Due: prettier --write

test(cypress): migrate cypress/docs.feature to github/gist.feature
  cypress/e2e/cypress/docs.feature
  cypress/e2e/github/gist.feature
Due: prettier --write

feat(assertions): add "Then I see response body contains"
  cypress/e2e/httpbin/get.feature
  cypress/e2e/typicode/jsonplaceholder.feature
  src/assertions/response.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{css,feature,js,json,md,yml}
