Repository remarkablemark/cypress-cucumber-steps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(actions): add "When I clear session storage"
  src/actions/index.ts
  src/actions/session-storage.ts
Due: eslint --fix

test(cypress): clear session storage in example/example.feature
  cypress/e2e/example/example.feature
Due: prettier --write

docs(actions): tidy TSDoc for "When I clear local storage"
  src/actions/local-storage.ts
Due: eslint --fix

feat(actions): add "When I use fake timers"
  src/actions/index.ts
  src/actions/timer.ts
Due: eslint --fix

feat(actions): add "When I use real timers"
  src/actions/timer.ts
Due: eslint --fix

test(cypress): use real and fake timers in cypress/example.feature
  cypress/e2e/cypress/example.feature
Due: prettier --write

feat(actions): add "When I set system time"
  src/actions/timer.ts
Due: eslint --fix

test(cypress): set system time in cypress/example.feature
  cypress/e2e/cypress/example.feature
Due: prettier --write

feat(actions): add "When I advance timers by milliseconds"
  src/actions/timer.ts
Due: eslint --fix

feat(actions): add "When I advance timers by seconds"
  src/actions/timer.ts
Due: eslint --fix

test(cypress): advance timers in cypress/example.feature
  cypress/e2e/cypress/example.feature
Due: prettier --write

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

chore(github): create CODEOWNERS
  .github/CODEOWNERS
Due: none

ci(github): delete auto-assign.yml
  .github/workflows/auto-assign.yml
Due: prettier --write

chore(github): update CODEOWNERS
  .github/CODEOWNERS
Due: none

docs(cypress): update e2e README.md
  cypress/e2e/README.md
Due: prettier --write

docs(readme): replace setup
  README.md
Due: prettier --write

docs(queries): fix code block example in closest
  src/queries/closest.ts
Due: eslint --fix

docs(assertions): tidy remark in label.ts
  src/assertions/label.ts
Due: eslint --fix

feat(queries): add "When I find element by selector"
  src/queries/find.ts
  src/queries/index.ts
Due: eslint --fix

test(cypress): add e2e cypress/todo.feature
  cypress/e2e/README.md
  cypress/e2e/cypress/todo.feature
Due: prettier --write

test(cypress): fix specPattern in cypress.config.ts
  cypress.config.ts
Due: eslint --fix

docs(readme): fix gherkin highlighting for code block
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{css,feature,js,json,md,yml}
