Repository remarkablemark/cypress-cucumber-steps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: fix "Then I see value" and "When I find input by label text"
  src/assertions/value.ts
  src/queries/input.ts
Due: eslint --fix

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

build: bump typedoc-plugin-copy-code-to-clipboard from 1.0.3 to 1.1.0
  package-lock.json
  package.json
Due: prettier --write

fix(actions): fix and refactor "When I select option"
  src/actions/select.ts
Due: eslint --fix

test(cypress): improve select option test in cypress/example.feature
  cypress/e2e/cypress/example.feature
Due: prettier --write

fix(actions): remove visible from "When I select option"
  src/actions/select.ts
Due: eslint --fix

fix(assertions): filter visible for "Then I see text"
  src/assertions/text.ts
Due: eslint --fix

feat(queries): add "When I get elements by selector"
  src/queries/get.ts
Due: eslint --fix

feat(actions): add "When I select"
  src/actions/select.ts
Due: eslint --fix

test(cypress): update select option in e2e cypress/example.feature
  cypress/e2e/cypress/example.feature
Due: prettier --write

build(scripts): fix Cloudflare Pages `/functions` directory
  scripts/docs.sh
Due: none

chore(assertions): remove deprecated "I see input has value"
  src/assertions/value.ts
Due: eslint --fix

chore(assertions): remove deprecated "I see element has attribute equals"
  src/assertions/attribute.ts
Due: eslint --fix

chore(assertions): remove deprecated "I see element has attribute containing"
  src/assertions/attribute.ts
Due: eslint --fix

chore(assertions): remove deprecated "I see input has value containing"
  src/assertions/value.ts
Due: eslint --fix

chore(assertions): remove deprecated "I see textarea has value"
  src/assertions/value.ts
Due: eslint --fix

chore(assertions): remove deprecated "I see textarea has value containing"
  src/assertions/value.ts
Due: eslint --fix

docs(changelog): format with prettier
  CHANGELOG.md
Due: prettier --write

refactor(queries): tidy step "When I find element by alt text"
  src/queries/alt-text.ts
Due: eslint --fix

feat(queries): add "When I find images by alt text"
  src/queries/alt-texts.ts
Due: eslint --fix

feat(queries): add "When I find image by alt text"
  src/queries/alt-text.ts
Due: eslint --fix

test(cypress): update alt text steps in e2e cypress/docs.feature
  cypress/e2e/cypress/docs.feature
Due: prettier --write

feat(queries): add "When I find elements by placeholder text"
  src/queries/index.ts
  src/queries/placeholders.ts
Due: eslint --fix

refactor(queries): tidy "When I find element by placeholder text"
  src/queries/placeholder.ts
Due: eslint --fix

test(cypress): add placeholder steps in e2e cypress/example.feature
  cypress/e2e/cypress/example.feature
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{css,feature,js,json,md,yml}
