Repository remarkablemark/cypress-cucumber-steps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(queries): add "When I get element by label text"
  src/index.ts
  src/queries/index.ts
  src/queries/label.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat(actions): add "When I type"
  src/actions/index.ts
  src/actions/type.ts
Due: eslint --fix

test(cypress): update cypress.feature
  cypress/e2e/cypress/cypress.feature
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@9a461153c624b03aa98b91747e91865c9d982195 🚀
  assets/search.js
  functions/Then_I_do_not_see_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_text.html
  functions/When_I_click_on_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  index.html
  interfaces/MochaContext.html
  modules.html
  types/CypressChainableElement.html
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@bd7fe581bc4b96a777ebb668b33827629ecdc34a 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click_on_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

docs(queries): fix grammar in label
  src/queries/label.ts
Due: eslint --fix

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@6f02e5aa307b2b7f112fa428bf2bebed28fa5726 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click_on_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

docs(assertions): tidy url remarks
  src/assertions/url.ts
Due: eslint --fix

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@967f2ac589de715792fe80060e02eaaac98f3174 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click_on_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

docs(queries): tidy label remarks
  src/queries/label.ts
Due: eslint --fix

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@c9a102a1528f517f25c8bbcb31df48bcf827acb5 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click_on_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

docs(actions): tidy type remarks
  src/actions/type.ts
Due: eslint --fix

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@007a982c6b516c9cfdf781fc2941614d7b1e8b56 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click_on_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

test(cypress): refactor example.feature into scenarios
  cypress/e2e/example/example.feature
Due: prettier --write

test(cypress): refactor cypress.feature into scenarios
  cypress/e2e/cypress/cypress.feature
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@eb2b6aa5a9a042c813c1fa4c0705b63d706bdb84 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click_on_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@4b68cb2e0a0e8514e7261e6015bfd2fac44d92a7 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click_on_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

build(nvmrc): set Node.js version to 16
  .nvmrc
Due: none

fix(assertions): assert "Then I see text" is also visible
  src/assertions/text.ts
Due: eslint --fix

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@e92e24ac77ae6c1008e79edf203d90391aaa4a8f 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click_on_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@9ecdc002cf68cdc5fd563c9573dc715dcb2b4d94 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click_on_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@cb11a68853f0107d5e98a361d2657ca05a69eecf 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click_on_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

feat(actions): add "When I click"
  src/actions/click.ts
Due: eslint --fix

feat(queries): add "When I find element by text"
  src/queries/index.ts
  src/queries/text.ts
Due: eslint --fix

test(cypress): add scenario to cypress.feature
  cypress/e2e/cypress/cypress.feature
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@fc719537e938ce48f47fa74297e24c63a3b472dd 🚀
  assets/search.js
  functions/Then_I_do_not_see_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/setCypressElement.html
  index.html
  interfaces/MochaContext.html
  modules.html
  types/CypressChainableElement.html
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@2bfcb2263c6e2a178367ea7d57127480019926c8 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

chore(readme): add comments that denote start and end
  README.md
Due: prettier --write

chore(package): tidy script docs:watch
  package.json
Due: prettier --write

build(scripts): add docs.sh that creates 404.html & fixes CF deploy
  scripts/docs.sh
Due: none

ci(github): use new build script in workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

build(scripts): prepend BASE_URL to paths in 404.html
  .github/workflows/build.yml
  scripts/docs.sh
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@6adc0f37734440958c32a2d1bf0832ac355e4593 🚀
  404.html
  functions/Then_I_do_not_see_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  index.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

docs(actions): document special character sequences in type
  src/actions/type.ts
Due: eslint --fix

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@efbdf93db0d82df7a68da819f1365b102bd9695c 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

feat(assertions): add "Then I do not see visible text"
  src/assertions/text.ts
Due: eslint --fix

test(cypress): test for invisible text in cypress.feature
  cypress/e2e/cypress/cypress.feature
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@821260d9f6e17dda0a0ddf69e6b11f582c6d4ace 🚀
  404.html
  assets/search.js
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  index.html
  interfaces/MochaContext.html
  modules.html
  types/CypressChainableElement.html
Due: prettier --write

Deploying to gh-pages from @ remarkablemark/cypress-cucumber-steps@18287a5d83e97fdcde27b98f60bdbafe162021b7 🚀
  functions/Then_I_do_not_see_text.html
  functions/Then_I_do_not_see_visible_text.html
  functions/Then_I_see_URL.html
  functions/Then_I_see_URL_contains.html
  functions/Then_I_see_text.html
  functions/When_I_click.html
  functions/When_I_click_on_text.html
  functions/When_I_find_element_by_text.html
  functions/When_I_get_element_by_label_text.html
  functions/When_I_reload_the_page.html
  functions/When_I_type.html
  functions/When_I_visit_URL.html
  functions/When_I_wait_milliseconds.html
  functions/When_I_wait_seconds.html
  functions/getCypressElement.html
  functions/setCypressElement.html
  interfaces/MochaContext.html
  types/CypressChainableElement.html
Due: none

feat(queries): add "When I find element by placeholder text"
  src/queries/index.ts
  src/queries/placeholder-text.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{css,feature,js,json,md,yml}
