Repository remarkablemark/cypress-cucumber-steps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(actions): add "When I clear cookie"
  src/actions/cookie.ts
  src/actions/local-storage.ts
Due: eslint --fix

test(cypress): clear cookie in example/example.feature
  cypress/e2e/example/example.feature
Due: prettier --write

test(cypress): do not fail test on uncaught exception in w3c.feature
  cypress/e2e/w3c/w3c.feature
  cypress/e2e/w3c/w3c.ts
Due: eslint --fix, prettier --write

docs: add TypeDoc plugin to copy code to clipboard
  package-lock.json
  package.json
  typedoc.json
Due: prettier --write

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

ci(github): update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

ci(github): update ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Due: prettier --write

build(package): bump @badeball/cypress-cucumber-preprocessor from 15.1.2 to 15.1.3
  package-lock.json
  package.json
Due: prettier --write

test(cypress): harden flaky e2e cypress/docs.feature
  cypress/e2e/cypress/docs.feature
Due: prettier --write

feat(assertions): add "I see document title" & "I see document contains"
  src/assertions/document-title.ts
  src/assertions/index.ts
Due: eslint --fix

ci(github): add workflow auto-assign.yml
  .github/workflows/auto-assign.yml
Due: prettier --write

test(cypress): assert document title in e2e example/example.feature
  cypress/e2e/example/example.feature
Due: prettier --write

refactor(queries): rename alt to alt-text
  src/queries/alt-text.ts
  src/queries/index.ts
Due: eslint --fix

feat(queries): add "When I find elements by alt text"
  src/queries/alt-text.ts
  src/queries/alt-texts.ts
  src/queries/index.ts
Due: eslint --fix

test(cypress): find alt texts in e2e cypress/docs.feature
  cypress/e2e/cypress/docs.feature
Due: prettier --write

ci(github): remove workflow codeql.yml
  .github/workflows/codeql.yml
Due: prettier --write

refactor(assertions): rename element to visible
  src/assertions/index.ts
  src/assertions/visible.ts
Due: eslint --fix

docs(assertions): improve TypeDoc for text
  src/assertions/text.ts
Due: eslint --fix

feat(assertions): add "Then I do not see link"
  src/assertions/link.ts
Due: eslint --fix

test(cypress): assert do not see link in example/example.feature
  cypress/e2e/example/example.feature
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{css,feature,js,json,md,yml}
